
 body {
    font-family: sans-serif;
    background-color: silver;
}

header{
    background-color: #AD00FF;
    border-radius: 10px;
    font-size: 80px;
}
img{
    border-radius: 20px;
    padding: 10px;
    
}

main p{
    background-color: #3E2BB7;
}
